#test-0{
  background-color: blue;
  position: absolute;
  /*border-radius: 100%;*/
}
body{
  width: 100%;
  height: 100%;
}
.test-content{
  display: inline-block;
  background-color: green;
  width: 10%;
  height: 10%;
}
.container{
  position: absolute;
  background-color: darkgray;
  top:25%;
  left:25%;
  height:400px;
  width:400px;
}
.abs{

  background-color:blue;
  position: absolute;
  /*border-style: dotted;
  position: absolute;*/
}
