#grid-0{
  position:inherit;
  background-color: darkgray;
  top:25%;
  left:25%;
  height:400px;
  width:400px;
}
#grid-1{
  background-color: yellow;
}
#grid-2{
  background-color:white;
}
.abs{
  background-color:blue;
}

body{
  margin: 0;
}
